{% extends 'base-admin.html.twig' %}

{% block title %}{{ 'Edit'|trans }}{% endblock %}

{% block page_title %}
Editar Habitación{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="tab-content">
                <!-- Account Tab starts -->
                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                    <!-- users edit media object start -->
                    <!-- users edit media object ends -->
                    <!-- users edit account form start -->
                    {{ include('room/_form.html.twig', {'button_label': 'Update'|trans}) }}
                    <!-- users edit account form ends -->
                    <br>
                    <div class="row d-flex justify-content-end">
                        <div class="mr-2 text-end">
                            {{ include('room/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
                <!-- Account Tab ends -->
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function() {

        });
    </script>
{% endblock %}


{% block action_buttons %}
    <li class="level-menu outside">
        <a class="nav-link cursor-pointer" href="{{ userPermission.can('list', 'rooms') ? path('room_index') : '#' }}"  >
            <i class="ficon" data-feather="chevron-left"></i>
        </a>
    </li>
{% endblock %}

