{% extends 'base-admin.html.twig' %}

{% block title %}Crear Mentor{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="card">
        <div class="card-body">
            <div class="tab-content">
                <!-- Account Tab starts -->
                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                    {{ include('mentors/_form.html.twig', {'button_label': 'Create'|trans}) }}


                </div>
                <!-- Account Tab ends -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block action_buttons %}

    <li class="level-menu outside d-flex align-items-center">

        <a class="nav-link cursor-pointer" href="{{ userPermission.can('list', 'mentors') ? path('mentors_index') : '#' }}"  style="background-color: #003A4A">
            <i class="ficon" data-feather="chevron-left"></i>
        </a>
            <h5 class="ms-3 mb-0">Crear Proyecto</h5>

    </li>



{% endblock %}