<form method="post" class="deleteForm" action="{{ path('client_delete', {'client': client.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button class="btn btn-outline-danger ">{{ 'Delete'|trans }}</button>
</form>
