{% extends 'base-admin.html.twig' %}

{% block title %}Editar Proyecto{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="card">
        <div class="card-body">
            <div class="tab-content">
                <!-- Account Tab starts -->
                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                    <!-- users edit media object start -->
                    {{ include('client/_form.html.twig', {'button_label': 'Update'|trans}) }}
                    <br>
                    <div class="row d-flex justify-content-end">
                        <div class="mr-2 text-end">
                            {{ include('client/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
                <!-- Account Tab ends -->
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        $('#deleteImg').on('click', function (){
            $('#client_delete_image').val('true');
        })

        $('.flatpickr').flatpickr({
            locale: locale,
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
        })
    </script>
{% endblock %}

{% block action_buttons %}
    <li class="level-menu outside d-flex align-items-center">
        <a class="nav-link cursor-pointer" href="{{ userPermission.can('list', 'clients') ? path('client_index') : '#' }}"  >
            <i class="ficon" data-feather="chevron-left"></i>
        </a>
        <h5 class="ms-3 mb-0">Editar Proyecto</h5>
    </li>
{% endblock %}

