<form method="post" action="{{ path('room_delete', {'room': schedule.id}) }}" class="deleteForm">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ schedule.id) }}">
    <button class="btn btn-outline-danger">{{ 'Delete'|trans }}</button>
</form>
