{% extends 'base-admin.html.twig' %}

{% block title %}{{ 'Edit Invoice'|trans }}{% endblock %}

{% block page_title %}{{ 'Edit Invoice'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <!-- Account Tab starts -->
                    <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                        {{ include('invoice/_form.html.twig', {'button_label': 'Update'|trans}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block action_buttons %}
    <li class="level-menu outside">

        <a class="nav-link cursor-pointer" href="{{ userPermission.can('show', 'invoices') ? path('invoice_show', {'invoice': invoice.id}) : '#' }}"  >
            <i class="ficon" data-feather="chevron-left"></i>
        </a>
    </li>
{% endblock %}

