{% if extra_appointment_field.type == 'Archivo' %}

    <a class="text-primary" href="{{ absolute_url(path('document_render', {'document' : extra_appointment_field.value})) }}" target="_blank"><i data-feather="eye"></i> Ver archivo</a>

{% elseif extra_appointment_field.type == 'Color' %}

    <span class="badge" style="background-color: {{ extra_appointment_field.value }}">{{ extra_appointment_field.value }}</span>

{% else %}

    {{ extra_appointment_field.value }}

{% endif %}