<table class="table  w-100">
    <tr>
        <th class="w-50 align-middle row" style="height:80px">
            <div class="col-12 row">
                <div class="col-4" style="display: inline-block">
                    <img height="50" src="{{ asset('assets/images/pdf/image1.png') }}">
                </div>
            </div>
        </th >
        <th class="w-50 align-middle row" style="height:80px">
            <div class="col-12 row">
                <div class="col-4" style="display: inline-block">
                    <img height="50" src="{{ asset('assets/images/pdf/image2.png') }}">
                </div>
            </div>
        </th >
        <th class="w-50 align-middle row" style="height:80px">
            <div class="col-12 row">
                <div class="col-4" style="display: inline-block">
                    <img height="50" src="{{ asset('assets/images/pdf/image3.png') }}">
                </div>
            </div>
        </th >
    </tr>
</table>