<form method="post" action="{{ path('client_request_delete', {'clientRequest': clientRequest.id}) }}" class="deleteForm">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ clientRequest.id) }}">
    <button class="btn btn-outline-danger">{{ 'Delete'|trans }}</button>
</form>
