{% extends 'base-empty.html.twig' %}

{% block title %}Éxito de pago{% endblock %}


{% block body %}
    <div class="col-12 p-2">

        <div class="row p-t-0">


            <div class="col-12">
                <div class="card border-success mb-3" style="min-height: 200px">
                    <div class="card-header text-center"><h1>FLUXUA</h1></div>
                    <div class="card-body text-success text-center">
                        <h5 class="card-title">PAGO COMPLETADO CON EXITO</h5>
                        <p class="card-text">Transferencia completada con éxito muchas gracias por confiar en nosotros. Nos pondremos pronto en contacto contigo.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        setTimeout(function() {
            window.location.href = 'https://fluxuawp.studio128k.com/';
        }, 3500);
    </script>
{% endblock %}